<%= form_with url: rodauth.reset_password_request_path, method: :post, data: { turbo: false }, class: "w-full" do |form| %>
  <div class="mb-5">
    <%= form.label "login", rodauth.login_label, class: "block text-[13px] font-semibold text-[#45464F] uppercase tracking-wider mb-1.5" %>
    <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], id: "login", autocomplete: "email", required: true, class: "mt-1 text-sm w-full px-3 py-2 bg-white border border-[#E2E8F0] rounded text-[#1B1B1F] focus:outline-none focus:ring-1 focus:ring-[#0052FF] focus:border-[#0052FF] #{rodauth.field_error(rodauth.login_param) ? 'border-red-500 focus:ring-red-500 focus:border-red-500' : ''}", aria: ({ invalid: true, describedby: "login_error_message" } if rodauth.field_error(rodauth.login_param)) %>
    <%= content_tag(:span, rodauth.field_error(rodauth.login_param), class: "block mt-1 text-red-600 text-xs", id: "login_error_message") if rodauth.field_error(rodauth.login_param) %>
  </div>

  <%= form.submit rodauth.reset_password_request_button, class: "w-full px-8 py-2.5 cursor-pointer font-semibold text-sm rounded text-white bg-[#0052FF] hover:bg-[#003EC6] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#0052FF] transition-colors duration-150" %>
<% end %>
