<%= form_with url: rodauth.reset_password_path, method: :post, data: { turbo: false }, class: "w-full" do |form| %>
  <%= hidden_field_tag rodauth.reset_password_key_param, params[rodauth.reset_password_key_param] %>

  <div class="mb-5">
    <%= form.label "password", rodauth.password_label, class: "block text-[13px] font-semibold text-[#45464F] uppercase tracking-wider mb-1.5" %>
    <%= form.password_field rodauth.password_param, value: "", id: "password", autocomplete: "new-password", required: true, class: "mt-1 text-sm w-full px-3 py-2 bg-white border border-[#E2E8F0] rounded text-[#1B1B1F] focus:outline-none focus:ring-1 focus:ring-[#0052FF] focus:border-[#0052FF] #{rodauth.field_error(rodauth.password_param) ? 'border-red-500 focus:ring-red-500 focus:border-red-500' : ''}", aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
    <%= content_tag(:span, rodauth.field_error(rodauth.password_param), class: "block mt-1 text-red-600 text-xs", id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
  </div>

  <% if rodauth.require_password_confirmation? %>
    <div class="mb-6">
      <%= form.label "password-confirm", rodauth.password_confirm_label, class: "block text-[13px] font-semibold text-[#45464F] uppercase tracking-wider mb-1.5" %>
      <%= form.password_field rodauth.password_confirm_param, value: "", id: "password-confirm", autocomplete: "new-password", required: true, class: "mt-1 text-sm w-full px-3 py-2 bg-white border border-[#E2E8F0] rounded text-[#1B1B1F] focus:outline-none focus:ring-1 focus:ring-[#0052FF] focus:border-[#0052FF] #{rodauth.field_error(rodauth.password_confirm_param) ? 'border-red-500 focus:ring-red-500 focus:border-red-500' : ''}", aria: ({ invalid: true, describedby: "password-confirm_error_message" } if rodauth.field_error(rodauth.password_confirm_param)) %>
      <%= content_tag(:span, rodauth.field_error(rodauth.password_confirm_param), class: "block mt-1 text-red-600 text-xs", id: "password-confirm_error_message") if rodauth.field_error(rodauth.password_confirm_param) %>
    </div>
  <% end %>

  <%= form.submit rodauth.reset_password_button, class: "w-full px-8 py-2.5 cursor-pointer font-semibold text-sm rounded text-white bg-[#0052FF] hover:bg-[#003EC6] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#0052FF] transition-colors duration-150" %>
<% end %>
